.valid{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(26,153,34,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(26,153,34,1);
    box-shadow: 0px 0px 5px 1px rgba(26,153,34,1);
}
.invalid{
    -webkit-box-shadow: 0px 0px 3px 1px rgba(204,0,0,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(204,0,0,1);
    box-shadow: 0px 0px 3px 1px rgba(204,0,0,1);
}
.theme-bg-red {
    background-color:red;
}